.appWindow {
    color: white;
    position: relative;
    height: 85vh;
    width: 95%;
    margin: 0 auto;
    background: rgba(20,20,20,0.3);
    border-radius: 0.5rem;
    border: 3px solid purple;
    padding: 0;
    overflow: hidden auto;
}

.appWindow::before {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(12px);
    z-index: -1;
}