.appWindow {
    color: white;
    position: relative;
    height: 85vh;
    width: 95%;
    margin: 0 auto;
    background: rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    border: 3px solid purple;
    padding: 0;
    overflow: hidden auto;
}

.appWindow::before {
    content: '';
    position: fixed;
    height: 85vh;
    width: 95%;
    /*display: block;*/
    /*inset: 0;*/
    backdrop-filter: blur(10px);
    z-index: -1;
}