@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../public/wallpaper_30.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

@keyframes blink {
    0%,35% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}