:root {
  --gradient-main: #4CD8EB;
}

#info-container{
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  padding: 1em;
  background-color: #262C36;
  border-radius: 20px;
  margin: 0px 20px;
}

#dp{
  min-width: 150px;
  min-height: 150px;
  width: 50%;
  aspect-ratio: 1/1;
  background-image: url("https://i.ibb.co/X83stkD/meInCoat.jpg");
  border-radius: 50%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.bar-container{
  width: 90%;
  height: 10px;
  border-radius: 10px;
  margin: 5px;
  background-color: #1D313D;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro{
  text-align: justify;
  padding: 2em;
}

.bar{
  position: relative;
  width: var(--prog);
  height: inherit;
  -webkit-box-reflect: below 0px linear-gradient(transparent,#0005);
  -ms-: below 1px linear-gradient(transparent,#0005);
}
.bar::before{
  content: ' ';
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: linear-gradient(90deg,var(--gradient-main) 0 46%, white 48% 49%, var(--gradient-main) 51% 100%);
  background-size: 200%;
  animation: move 4s linear infinite;
  /* filter: blur(1px); */
}

.lang-name {
  padding: 0px 5px;
}
.skill-list{
  list-style: none;
}
.skill-list li {
  padding-top: 20px;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 200% 0;
  }
}

@media screen and (max-width: 900px){
  #info-container{
    grid-template: 1fr 1fr/1fr;
  }
}
