:root {
  --gradient-main: #4CD8EB;
}

#info-container{
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  padding: 1em;
  background-color: #262C36;
  border-radius: 20px;
  margin: 0px 20px;
}

#dp{
  min-width: 150px;
  min-height: 150px;
  width: 50%;
  aspect-ratio: 1/1;
  background-image: url("https://lh3.googleusercontent.com/pw/AP1GczNojIqBekRFUMcXS0wmqVilc5Ki42KZjesNXpZGBs_uqnmch7m2qh46pv1VXBL3rO_k2zD8OW_J7-ffSO03nt0EWTrkEfktDP6a5TIgwEqb0uapUzXTeidOiXBXMMGDj4vYJ6wBCpeaJQvmKs3GEaXz-v4XKWFTcaBFWaq9blm_YjYJ-4fLZ44_aHTmrs_GstKCZ8FcUPv-0pn1k2GNJO0CurXN71m9tE2tCqHNrs0ttnfw9yJduWBM2BjQmctGlEsAFWnAIJfXteHWpK2FlbMvS-OXWx8Haw62bkPgih82EdIU9_5Oim2XODsaaWRpx6t4QYepd6q8QljjVJ9MQyg6_f3KUsuZkuI4hYSsffUueQsZzImetxIx4AsE_-yr8Q6BZcgav55HycqF3mE8RhPoYsyo9N5RLTio_EYlhoj4tO4dEUGcvot1dOEjh26xvELJrIzhvEVCHrUdAnHWQMhvfhl89lpWkDXojFmEcgCrUiPa2OgrVKY19gi-2ysRgoTkygak0GPf9WmEbAsT06D22hnbu7T6R5JzAAaKwNRPFoDAPbtcL8hMQ-LmIrjOzow3uaHKDhHRAhISPyhJsKjJa1HvLL6ZOh5TK8odqElWZYGo1Bi_7klwyEP_ycjR4XROvH-7hhVS3x6a6og17UpWGiqLWpXTx6TxrjhtGH_JRh87ZbvwjSNzigLCliSS43lWBtZwJS-2D2dz2Yx6bz207zD0wHBMjv_H428Z06us4-C07C2JdU-pAAo3xH3GXd_znuBWXGPV9PGLV30aJ5geEfr9QzXfFlxZH8jv_wQx-K5_MDNEl5V91_nO1yWterL7M4ra_2OWXxEmhR-DIR3O2cRmueUGlCjRhOuZWEk2wRlIgEuS4ZMkarPS8je7834oGHWAz_E7VurueGBkZUlj5M7M04g873i5SNq2YzU_OO915foCseXlWjudiAmD83q53Ujkkzr-AzqhwXK4duC-qcPzi8QQApIsY74U5KVEwcEtZqMlHjzr2FasN26Lgw=w662-h884-s-no-gm?authuser=0");
  border-radius: 50%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.bar-container{
  width: 90%;
  height: 10px;
  border-radius: 10px;
  margin: 5px;
  background-color: #1D313D;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro{
  text-align: justify;
  padding: 2em;
}

.bar{
  position: relative;
  width: var(--prog);
  height: inherit;
  -webkit-box-reflect: below 0px linear-gradient(transparent,#0005);
  -ms-: below 1px linear-gradient(transparent,#0005);
}
.bar::before{
  content: ' ';
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: linear-gradient(90deg,var(--gradient-main) 0 46%, white 48% 49%, var(--gradient-main) 51% 100%);
  background-size: 200%;
  animation: move 4s linear infinite;
  /* filter: blur(1px); */
}

.lang-name {
  padding: 0px 5px;
}
.skill-list{
  list-style: none;
}
.skill-list li {
  padding-top: 20px;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 200% 0;
  }
}

@media screen and (max-width: 900px){
  #info-container{
    grid-template: 1fr 1fr/1fr;
  }
}
