.navbar {
  position: relative;
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  gap: 15px;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2vh 1vh;
}
.navbar li:first-child{
  font-size: 1.4rem;
  margin-right: auto;
  font-weight: bolder;
}

.expand{
  display: none;
  position: absolute;
  right: 10px;
  top: 0.9rem;
}

.navbar li a:active{
  color: white;
}
.navbar li {
  font-weight: 500;
  transition: transform 0.3s ease-in-out;
}
.navbar li:not(:first-child):hover{
  transform: scale(1.1);
  text-decoration:underline solid #5DD2E3;
}

.expand button {
  background: none;
  border: none;
  color: white;
  font: inherit;
  cursor: pointer;
}

.expanded {
  display: block;
  animation: expandMenu 0.4s forwards;
}
@keyframes expandMenu {
  0% {
    transform: scaleY(0);
  } 100% {
    transform: scaleY(1);
  }
}
.list-item{
  transition: display 1.3s ease-in-out; 
}

@media screen and (max-width:800px){
  .navbar{
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: auto;
  }
  .list-item{
    display: none;
  }
  .expand {
    display: block;
  }
}
