#project-list{
  display: flex;
  flex-direction: column;
  padding: 0px;
}

#project-list li {
  width: 70vw;
  display: grid;
  gap: 10px;
  grid-template: 1fr/1fr 2fr;
  margin-bottom: 20px;
  background-color: #262C36;
  padding: 20px;
  border-radius: 20px;
}

#project-list li:nth-child(odd){
  margin-right: auto;
  direction: ltr;
}

#project-list li:nth-child(even){
  margin-right: auto;
  direction: rtl;
}

.project-item img{
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width:1150px){
  #project-list {
    align-items: center;
  }
  #project-list li{
    grid-template: 2fr/1fr;
    direction: ltr;
    width: 80vw;
    margin: 0px 20px 20px 20px !important;
  }
}
