#Socials{
  background-color: #262C36;
  border-radius: 20px;
  margin: 0px 20px;
  padding: 10px;
}
#profiles {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0px 0px;
  line-height: 0;
}
#profiles li,#profiles span{
  vertical-align: middle;
  display: inline-block;
}
#profiles li a {
  font-weight: bold;
  font-size: 0.9rem;
}
#profiles span{
  font-size: 1rem;
  padding-left: 2px;
}


