html,body{
  background: linear-gradient(90deg, #000, #555);
  color: white;
  /* background: linear-gradient() */
  margin: 0;
  padding: 0;
}

/* * { */
/* background: rgba(255, 255, 255, 0.1); */
/* } */

section {
  padding-top: 9vh;
  min-height: 91vh;
}

button {
  border: 0px;
}
